// Import
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Font face
@font-face {
  font-family: 'MrDarcy';
  src: url(../fonts/mr-darcy-bold.ttf) format("truetype");
}

:root {
  // Design system
  --color-main: #58003C;
  --color-secondary-opacified: rgba(113, 206, 212, 0.1);
  --color-white: #F9FDFD;
  --color-white-opacified: rgba(249, 253, 253, 0.2);
  --color-black: #110F10;
  --color-black-opacified: rgba(17, 15, 16, 0.95);

  // Fonts
  --font-primary: "MrDarcy", serif;
  --font-secondary: "Roboto", sans-serif;

  // Layout
  --padding-page-desktop: 12vh 20%;
  --padding-page-mobile: 20vh 30px;
  --margin-x-elements: 30px;
  --margin-y-elements: 60px;

  // Colors
  --color-overlay-background: var(--color-black-opacified);
  --color-background-label: var(--color-main);
  --color-text-label: var(--color-white);
  --color-background-button: var(--color-main);
  --color-border-button: var(--color-main);
  --color-background-button-hovered: var(--color-black);
  --color-border-button-hovered: var(--color-white);
  --color-background-filter: var(--color-black);
  --color-border-filter:var(--color-white);
  --color-background-filter-hovered: var(--color-white);
  --color-border-filter-hovered: var(--color-white);
  --color-text-filter-hovered: var(--color-black);
  --color-background-filter-active: var(--color-main);
  --color-border-filter-active: var(--color-main);

  // Dark theme colors
  --color-background-dark: var(--color-black);
  --color-text-dark: var(--color-white);
  --color-burger-lines-dark: var(--color-white);

  // Light theme colors
  --color-background-light: var(--color-white);
  --color-text-light: var(--color-black);
  --color-burger-lines-light: var(--color-black);
}
